.footer{
    color:var(--secondary-text-color);
    border-top: 1px solid #D9DBE9;
}

.spanHeading{
    color: var(--primary-text-color);
    margin-bottom: 16px;
}
.partnersHeading{
    color: var(--primary-text-color);
}
.RightSlideButton {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #c656a0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .RightSlideButton:hover {
    opacity: 0.8;
  }
   
