.gradientText1 {
  background: linear-gradient(to bottom right, #c656a0, #5acbf5); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: linear-gradient(to bottom right, #3ca8cf, hsl(47, 74%, 65%)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: linear-gradient(to bottom right, #f7d149, #b14a8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

      