.menu {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background: #FEFEFE;
    box-shadow: 0 2px 4px rgba(156, 163, 175, 0.2); 
    padding: 2px 0;
    z-index: 999;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menuOpen {
    transform: translateY(0);
    opacity: 1;
}

/* Menu Items */
.menuItems {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.menuItem {
    padding: 8px ;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.mainItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 1.2rem;
    color: #888;
    transition: transform 0.3s ease-in-out;
}

.rotateArrow {
    transform: rotate(90deg);
}

.subMenu {
    padding-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.subMenuItem {
    padding: 8px 0;
    font-size: 1rem;
    cursor: pointer;
    color: #555;
}

.subMenuItem:hover {
    color: #5acbf5;
}

.ctaButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
